@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');

html{
    --jaune: hsl(47, 88%, 63%);
    --blanc: hsl(0, 0%, 100%);
    --gris: hsl(0, 0%, 42%);
    --grisfonce: hsl(0, 0%, 7%);
}

body{
    font-family: 'Figtree';
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    background-color: var(--jaune);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: var(--blanc);
    padding: 20px 15px;
    border-radius: 15px;
    width: 375px;
    border: 1px solid var(--grisfonce);
    box-shadow: 10px 10px;
}

.img1{
    width: 100%;
    border-radius: 15px;
}

.p1{
    font-size: 1rem;
    background-color: var(--jaune);
    padding: 5px 7px;
    border-radius: 5px;
    width: fit-content;
    margin: 15px 0;
}

.p2{
    color: var(--grisfonce);
    margin: 15px 0;
}

h2{
    font-size: 1.5rem;
    margin: 15px 0;
    font-weight: 800;
}

h2:hover{
    color: var(--jaune);
}

.texte{
    margin: 15px 0;
    color: var(--gris);
    line-height: 1.5;
}

.p3{
    font-weight: 500;
    color: var(--grisfonce);
    display: flex;
    align-items: center;
}

.img2{
    margin-right: 10px;
    width: 30px;
}
